body{
    background-color: rgb(247, 247, 199);
}

.barre {
    color:black;
    background-color: white;
    border: 1px solid #7f837d;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    
}

.inside {
    border: 1px solid #a7aca5;
    padding: 10px;
    margin: 0 40px;
    margin-bottom: 1px;
    flex-direction: row;
    align-items: center;
    padding-right: 50px;
    justify-content: space-between;
    font-family: "Open sans";
}
.inputChange {
    width: 95px;
    height: 40px;
    border: 1px solid #b0b6ad;
    background-color: white;
    border-radius: 5px;
    transition: background-color 1s;

}
.insideButton {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    color: rgb(155, 155, 72);
}

.text {
    display: flex;
    justify-content: flex-start;
}

.mod {
    padding: 0;
    border: none;
    background: none; 
}

.x {
    padding: 0;
    border: none;
    background: none;
    margin-left: 10px;
}


button {
    cursor: pointer;
}
/* titre  */
.titre {
    color:black;
    background-color: white;
    border: 1px solid #7f837d;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 15px #555;
    font-family: "Open sans";
    font-size: 40px;  
    align-items: center;  
    display: flex;
}
/* form group  */
.form-group {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 900px;
    display: flex;
    flex-direction: row;  
    font-family: "Open sans";
}


.form-control {
    color:black;
    background-color: white;
    border: 1px solid #b0b6ad;
    margin-left: auto;
    margin-right: auto;
    width: 900px
    
}


/* section tache  */

.tache {
    color:black;
    background-color: white;
    border: 1px solid #b0b6ad;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Open sans";
    margin-bottom: 1px;
}
.todolist h2 {
    font-size: 35px;
}

.buttontodo button { /* bouton todo, doing, done  */
    width: 95px;
    height: 35px;
    border: 2px solid ;
    border-radius: 20px;  
} 

.add{ /* Bouton add */
    width: 95px;
    height: 40px;
    border: 1px solid #b0b6ad;
    background-color: white;
    border-radius: 5px;
    transition: background-color 1s;
}



.add:hover{ /* Bouton add */
    background-color: #9ba199;
    border-color: #717470;
}

.add:focus{ /* Bouton add */
    outline:0;
}

.todol{ /* Bouton todo */
    background-color: #4db1f7;
    color: white;
    border: #4db1f7;
    transition: background-color 1s;
}

.todol:hover { /* Bouton todo */
    background-color: #2a5e82;
    border-color: #2a5e82;
}

.todol:focus { /* Bouton todo */
    outline:0;
}
.doing { /* Bouton doing */
    background-color: #30d13b;
    color: white;
    border: #30d13b;
    transition: background-color 1s;
    
}

.doing:hover { /* Bouton doing */
    background-color: #287d2e;
    border-color: #287d2e;
}
.doing:focus { /* Bouton doing */
    outline:0;
}
.done{ /* Bouton done */
    background-color: #ff4d4d;
    color: white;
    border: #ff4d4d;
    transition: background-color 1s;
}
.done:hover { /* Bouton done */
    background-color: #7c3636;
    border-color: #703434;
}

.done:focus { /* Bouton done */
    outline:0;
}


.random { /* Bouton random task */
    color:black;
    background-color: white;
    border: 1px solid #b0b6ad;
    margin-left: auto;
    margin-right: 15px;
    width: 200px;
    text-align: center;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Open sans";
    margin-bottom: 1px;
    font-size: 19px;
    border-radius: 5px;
    transition: background-color 1s;
}
.random:hover{ /* Bouton random task */
    background-color: #bebebe;
    border-color: #999797;
}
.random:focus { /* Bouton random task */
    outline:0;
}